/* font-family: 'Overpass', sans-serif;
font-family: 'Roboto', sans-serif; */

body {
  margin-top: 0;
  font-family: 'Roboto';
}

h1 {
  font-family: 'Overpass', sans-serif;
  font-size: 75px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  padding-top: 50px;
}

h3 {
  margin: 0;
  padding: 20px 0;
}

.full-width {
  width: 100%;
}

.full-gray {
  background: #808080;
  /* width: 100%; */
  margin: 0;
  padding: 0;
}

.light-gray {
  background: #eee;
  /* width: 100%; */
  margin: 0;
  padding: 0;  
}

.footer {
  padding-top: 50px;
}