body {
  margin-top: 0;
  font-family: 'Roboto';
}

h1 {
  font-size: 75px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  padding-top: 50px;
}

h2 {
  margin: 0;
  padding: 20px 0;
  font-weight: bolder;
}

li {
  padding-top: 10px;
  font-size: 1.25em;
}

.full-width {
  width: 100%;
}

.full-gray {
  background: #808080;
  /* width: 100%; */
  margin: 0;
  padding: 0;
}

.light-gray {
  background: #eee;
  /* width: 100%; */
  margin: 0;
  padding: 0;  
}

.highlight {
  background: white;
  font-weight: bolder;
  border-radius: 3px;
}

.footer {
  text-align: center;
  padding-top: 50px;
  font-weight: bold;
}